<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/main.css' />
    <script type='text/javascript' src='/js/jquery-3.2.1.js'></script>

  </head>
  <body>
    <div class="jumbotron text-center">
      <h1><%= title %></h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 rounded ">
          <h3>Input</h3>
          <form action="/analyze" method="post">
            <div class="form-group">
              <textarea class="form-control" id="content" rows="3" name="content" placeholder="Enter the content"></textarea>
            </div>

            <fieldset class="form-group">
              <div class="form-check d-inline">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="options" id="nolib" value=false checked>
                  Không sử dụng thư viên
                </label>
              </div>
              <div class="form-check d-inline offset-1">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="options" id="lib" value=true>
                  Sử dụng sklearn
                </label>
              </div>
            </fieldset>
            <button type="button" id="btn-submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="col-lg-6">
          <h3>Output</h3>
          <div id="group" class="list-group">

          </div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type='text/javascript' src='/js/popper.min.js'></script>
    <script type='text/javascript' src='/js/bootstrap.min.js'></script>
    <script type='text/javascript'>
        let row = (url) => {
          return `<a href="${url}" target="_blank" class="border border-info list-group-item list-group-item-action flex-column align-items-start">
                    <!-- <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">Url bài viết</h5>
                    </div> -->
                    <p class="mb-1">${url}</p>
                  </a>`
        }
        $(document).ready(function(){
            $('#btn-submit').click(function(){
                let content = $('#content').val();
                let type = $('input[name="options"]:checked').val();
                axios.post('/analyze', { content: content, type: type })
                  .then(res => JSON.parse(res.data))
                  .then(news => {
                      news.map(item => {
                          $('#group').append(row(item.url))
                      })
                  })
                  .catch(console.log);

            });
        });

    </script>
  </body>
</html>
